@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*  {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* Nav */
nav, 
.links {
  display: flex;
} 

nav {
  justify-content: space-around;
  align-items: center;
  height: 120px;
  background-color: lightblue;
}

.links {
  gap: 30px;
  list-style: none;
  font-size: 20px;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.logo {
  font-size: 40px ;
}

.logo:hover {
  cursor: default;
}
/* Profile Picture */
section {
  padding-top: 10px;
  height: 50px;
  margin: 0 5px;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

#profile {
  display: flex;
  justify-content: center;
  gap: 30px;
  height: 40px;
}

.section-picture {
  display: flex;
  height: 200px;
}

.section-text {
  text-align: center;
  margin-top: 20px;
}

.section-text p {
  font-weight: 600;
  color: black;
}

.section-text-p1 {
  text-align: center;
}

.section-text-p1 {
  font-size: 20px;
  margin-bottom: 2px;
}

.title {
  font-size: 25px;
  text-align: center;
  color: black;
}
